body { 
    font-family:'Roboto', 'Raleway', sans-serif;
    color: #434455
    background-color: #FFFFFF;
}

:root {
    --main-background-color: #FFFFFF;
    --second-color: #4D5AE5;
    --logo-color: #2E2F42;
}

.list { 
    list-style: none;
}
.link {
    text-decoration: none;
}
.header {
    background-color: bisque;
}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-span {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
}
.header-item {
}

.header-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover {
    color:#404bbf ;
}

.header-link:focus {
    color:#404bbf;
}

.address {}

.address-mail ,
.address-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-mail:hover {
        color: #404bbf;
    }

.address-phone:hover {
    color:#404bbf;
}

.address-item {}

.main {}


/** ---------------SECTION--------------- */

.section {
    background-color:#2e2f42;
}

.section-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;}

.section-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color:#FFFFFF;
        cursor: pointer;
background-color: #4D5AE5;
    
}
.section-btn:hover {
background-color: #404BBF;
}
.section-btn:focus {
    background-color: #404BBF;
}

/** ---------------STRATEGY--------------- */

.strategy {}

.strategy-header {
    font-weight: 500
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.strategy-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-header {}

/** ---------------ABOUT--------------- */

.about {}

.about-header {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.list {}

.about-list {}

/** ---------------TEAM--------------- */
.team {
    background-color: #F4F4FD
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    
}

.team-item {}

.team-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.strategy-list-item {
        width: 264px;
        height: 1.43;
        left: 156px;
        top: 1780px;
        background: #FFFFFF;

}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ---------------FOOTER--------------- */
.footer {
   background-color: #2e2f42;
}

.footer-logo {
font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-logo-span {
     font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
}

.footer-item {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer {
    background-color: rgb(80, 146, 14);
}

/** ---------------PORTFOLIO------------------------------------------------------------ */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    background-color: bisque;
}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.header-logo-span {
font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.header-item {}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover {
    color:#404bbf;
}

.header-link:focus {
    color: #404bbf;
}
.address {}

.address-mail,
.address-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-mail:hover {
    color: #404bbf;
}

.address-phone:hover {
    color: #404bbf;
}

.address-item {}

.main {}

/* --------------------BUTTONS-------------------- */

.buttons {}

.buttons-list {}

.buttons-item {}

.buttons-title {
    font-family: "Roboto", sans-serif
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#F4F4FD;
    cursor: pointer;
    background-color: #4d5ae5;
}

.buttons-title:hover {
    background-color: #404BBF;
}

.buttons-title:focus {
    background-color: #404BBF;
}
.list {}


/* --------------------PHOTOS-------------------- */

.photos {}

.photos-list {}

.list {
    list-style: none
}

.photos-item {

}

.photos-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.photos-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --------------------FOOTER-------------------- */
.footer {}

.footer-logo {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.footer-logo-span {

}
.footer-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    4F4FD;
}